
form{display:flex;
flex-direction:column;
background-color:rgb(119, 119, 0);
width:450px;
margin-left:400px;
height:350px;
padding:20px;
gap:10px;
margin-top:50px;
border-radius:5px;


}
input[type=text],input[type=email],input[type=tel],input[type=password]{
    border-radius:5px;
    border:1px  solid rgb(13, 13, 36);
    padding:5px;
}
.container{display:flex;
    flex-direction:column;   
    width:220px;
    }
.box{display:flex;
    flex-direction:column;
    width:220px;
    margin-left:230px;
    margin-top:-13.5%;
    
 }
 .select{margin-left:200px;}
 h3{color:white;
text-align:center;}
label{color:white;
font-size:20px}
select{width:450px;
    padding:5px;
    border-radius:5px;
    border:1px  solid rgb(13, 13, 36);
}
input[type=submit]{
    background-color:rgb(13, 13, 36);
    color:white;
    padding:10px;
    border-radius:5px;
    border:1px  solid rgb(13, 13, 36);
    margin-top:10px;
}